<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Details</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fab fa-discourse text-dark"> </i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Training </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Details
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Training Detail</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="!editEnabled" class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Title</label>
                                <input class="form-control form-control-sm" value="Training #123" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Description</label>
                                <textarea class="form-control form-control-sm" value="This is a training organised to improve skills" disabled></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Start Date</label>
                                <input class="form-control form-control-sm" value="11/06/2020" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">End Date</label>
                                <input class="form-control form-control-sm" value="12/06/2020" disabled>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="editEnabled" class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Title</label>
                                <input class="form-control form-control-sm" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Description</label>
                                <textarea class="form-control form-control-sm" disabled></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Start Date</label>
                                <input class="form-control form-control-sm" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">End Date</label>
                                <input class="form-control form-control-sm" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Participant List</h3>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select 
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm"
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="5" [selected]="tableEntries==5">5</option>
                                        <option value="10" [selected]="tableEntries==10">10</option>
                                        <option value="15" [selected]="tableEntries==15">15</option>
                                        <option value="-1" [selected]="tableEntries==-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input 
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Search records"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)" 
                                    />
                                </label>
                            </div>
                        </div>
                    </div>

                    <ngx-datatable 
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [limit]="tableEntries != -1 ? tableEntries:undefined"
                        [rows]="tableTemp" 
                        (activate)="onActivate($event)"
                    >

                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>ID</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.id}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Name</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.name}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Email</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.email}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Phone</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.phone}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Training Analysis</h4>
                </div>
                <div class="card-body">
                    <h4 class="m-0 text-muted">Training Objectives Achievement</h4>
                    <div id="chartdiv" style="width: 100%; height: 300px"></div>
                    <h4 class="mb-0 mt-3 text-muted">Relation with Daily Tasks</h4>
                    <div id="chartdiv1" style="width: 100%; height: 300px"></div>
                    <h4 class="mb-0 mt-3 text-muted">Facilites and Food</h4>
                    <div id="chartdiv2" style="width: 100%; height: 300px"></div>
                    <h4 class="mb-0 mt-3 text-muted">Instuctor Evaluation</h4>
                    <div id="chartdiv3" style="width: 100%; height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
</div>